body{
    background-image: url(img/kanto-map.jpeg);
    background-size: 100% 200%;
}
img{
    margin-top: 10px;
    width: 24%;
}
h1{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.471);
    border-radius: 6px;
    padding: 5px;
    color: white;
}