body{
    background-color: rgb(66, 255, 148);
}
h2{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}
p{
    font-family: 'Press Start 2P', cursive;
}
mark{
    background-color: rgb(49, 175, 195);
    border-radius: 6px;
    padding: 5px;
}
img{
    width: 25%;
}
button{
    background-color: rgb(27, 124, 0);
    border-radius: 6px;
    padding: 5px;
    font-family: 'Press Start 2P', cursive;
    color: rgb(255, 255, 255);
    border: rgb(27, 124, 0);
}